:root {
  --border-radius: 12px;
  --primary-color: #0F52BA; 
  --white-color: #FFFFFF;
  --bg-color: #F9F9F9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
